.container {
  max-width: 624rem;
  margin: 0 auto ;
  padding: 30rem 12rem 0;
}

.heading {
  margin: 0 auto 15rem;
  font-size: 32rem;
  text-align: center;
}

@media (width < 500px) {
  .container {
    padding: 21rem 9rem 0;
  }
  .heading {
    font-size: 24rem;
  }
}
